<div class="screen">
    <div class="relative justify-center top-1/2">
        <mat-card>
            <form class="form" [formGroup]="loginform" (ngSubmit)="login()">
                <div class="flexInput">
                    <input type="text" formControlName="username" placeholder="username" class="inputText">
                </div>
                <div class="flexInput">
                    <input type="text" formControlName="password" placeholder="password" class="inputText">
                </div>
                <div class="flex justify-end ">
                    <button mat-raised-button class="bg-green-700 text-white opacity-50">Login</button>
                </div>
            </form>
        </mat-card>
    </div>

</div>