<div>
    <div class="w-80 bg-cyan-900">
        <div class="flex flex-col justify-center items-center p-10">
            <img src="../../assets/pngtree-user-vector-avatar-png-image_1541962.jpg" class="rounded-full w-40">
            <div class="mt-4 text-white">
                {{name}}
            </div>
            <div class="mt-4 p-4 text-2xl">
                <a routerLink="home" class="fas fa-solid fa-house mr-2 hover:scale-110"></a>
                <a (click)="logOut()" class="fas fa-solid fa-arrow-right-from-bracket ml-2 hover:scale-110"></a>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="w-80 bg-slate-200 h-screen pt-4">
        <a routerLink="assets" class="menu-link">
            <mat-card class="menu">
                <h3>Assets</h3>
            </mat-card>
        </a>
        <a routerLink="spareparts" class="menu-link">
            <mat-card class="menu">
                <h3>Spare Parts</h3>
            </mat-card>
        </a>
        <a routerLink="configuration" class="menu-link">
            <mat-card class="menu">
                <h3>Configuration</h3>
            </mat-card>
        </a>
    </div>
</div>