<h1 mat-dialog-title>
    <div class="flex justify-end">
        <mat-icon mat-dialog-close>clear</mat-icon>
    </div>
    <hr>

</h1>

<div mat-dialog-content>

    <form [formGroup]="projectForm" class="form">
        <div class="flex flex-row w-full">
            <div class="w-1/2 bg-slate-300">
                <div class="flex flex-col justify-center items-center mt-20">
                    <i class="fa-regular fa-image text-9xl"></i>
                    <button mat-raised-button>Browse Image</button>
                </div>
            </div>
            <div class="w-1/2">
                <mat-card>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="id">Id</label>
                            <input type="text" formControlName="id" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="name">Name</label>
                            <input type="text" formControlName="spareparttName" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="quantity">Quantity</label>
                            <input type="text" formControlName="quantity" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="type">Type</label>
                            <input type="text" formControlName="type" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="location">Location</label>
                            <input type="text" formControlName="locationId" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="modelNumber">Model Number</label>
                            <input type="text" formControlName="modelNumber" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="manufacturer">Manufacturer</label>
                            <input type="text" formControlName="manufacturer" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput">
                        <div class="flex flex-row justify-center items-center">
                            <label class="label" for="currentStatus">Current Status</label>
                            <input type="text" formControlName="currentStatus" class="inputText">
                            <button *ngIf="actionBtn === 'Delete'" mat-raised-button (click)="addItem()"><i
                                    class="fas fa-sharp fa-regular fa-pencil"></i></button>
                        </div>
                    </div>
                    <div class="flexInput justify-center items-center mt-4">
                        <button *ngIf="actionBtn === 'Delete'" mat-raised-button color="warn" class="w-56"
                            (click)="deleteItem()">Delete</button>
                        <button *ngIf="actionBtn === 'Save'" mat-raised-button class="w-56 bg-green-700 text-white"
                            (click)="addItem()">Save</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>