<div class="flex flex-row gap-2">
    <div class="w-1/2 overflow-auto">
        <mat-card>
            <app-emptyspare></app-emptyspare>
        </mat-card>
    </div>
    <div class="w-1/2 overflow-auto">
        <mat-card>
            <app-inactive-assets></app-inactive-assets>
        </mat-card>
    </div>
</div>
<div class="flex flex-row gap-4 mt-10">
    <div class="w-1/2 overflow-auto">
        <mat-card>
            <app-service-chart></app-service-chart>
        </mat-card>
    </div>
    <div class="w-1/2 overflow-auto">
        <mat-card>
            <app-assets-maintenance></app-assets-maintenance>
        </mat-card>
    </div>
</div>
<div class="mt-20">
    <app-history></app-history>
</div>